.main-body{
  background-color: powderblue;
  border-radius: 8px;
  border : 4px solid black;

}
.header{
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  flex-shrink: 0;
  margin: 20px ;
  padding: 40px;
  background-color: rgb(38, 87, 93);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 6px;
  border-radius: 8px;
  border : 4px solid black;


}
.box{
  border: 4px solid black;
  border-radius: 8px;
  background-color: powderblue;
  height: 100px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
    overflow-x: auto;

}

@media (max-width: 572px){
  .container{
    overflow-x: scroll;
  }
}
